.dashboard .dashboard.pane {
	background: url($dashboard-background) no-repeat center;
	background-size: 102%; 
}


@media only screen and (min-width: 350px) {
	.dashboard .dashboard {
		#footerMenu h4 {
			font-size: 12px;
			font-size: 3.5vw;
		}
	}
}

@media only screen and (max-width: 350px) {
	.dashboard .dashboard {
		#footerMenu h4 {
			font-size: 10px;
			font-size: 3.0vw;
		}
	}
}


.dashboard .dashboard {

	.item {
		border:none; 
		background-color:transparent;  
    	padding-bottom: 8px;
    	padding-top:4px; 
		p {
			font-size:$dashboard-item-paragraph-size;
			color: $dashboard-item-font-color;
			padding:0; 
		}
		h2 {
			padding-top:5px; 
			color: $dashboard-item-title-color; 
		}
	}

	#footerMenu {
		.row {
			padding: 10px 0;
			.button-clear {
				max-height:none; 
			}
			button {
				padding: 10px;
			}
			&.row-buttons {
				padding-bottom: 0;
			}
			&.row-subs {
				padding-top: 0; 
			}
		}
		h4 {
			color: white; 
		}
	}

	hr {
		border-color: $dashboard-item-font-color; 
	}

	.logo {
		padding: $dashboard-logo-padding;
	}

	ion-list .list {
		width: $dashboard-item-width; 
		background: url($dashboard-item-background) no-repeat center; 
		background-size: cover; 
	}
}