.appMenu .p2pPaymentConfirm {

	.secondaryContainer {
		padding: 10px 5px; 
		p.subtitle {
    		padding: 5px 10px;
		}
		h4 {
			padding: 3px 10px;
			margin: 0;
			font-size: 18px; 
		}
		hr {
			margin: 10px 0;
		}
	}
	
}