<ion-modal-view class="mechanism" id="privilegedPasswordModal">
	<div class="mainContainer">
		<h3 class="sectionTitle">{{'privileged_password' | translate}}</h3>
		<div class="secondaryContainer">
			<p class="text-center padding">{{'privileged_password_instruction' | translate}}</p> 
			<div id="inputContainer">
				<input type="password"  ng-model="privilegedPasswordInput['password']" name="password" required/> 
			</div>
			<div class="row">
				<button class="col button app-input" data-ng-click="cancelAuth()"> 
		        	{{'cancel' | translate}}
		    	</button>
		    	<button class="col button app-input" 
		    			data-ng-click="attemptMechanism('privilegedPassword')"
		    			ng-disabled="!privilegedPasswordInput['password']"> 
		        	{{'accept' | translate}}
		    	</button>
		    </div>
		</div>
	</div>
</ion-modal-view> 